body {
  background-color: #f8f1f1;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-family: 'Rock Salt', cursive;
  margin: 50px auto 0 auto;
  font-size: 4rem;
  color: #1687a7;
}

h2 {
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  color: #1687a7;
  font-weight: 500;
}

h3 {
  font-family: 'Montserrat', serif;
  color: #276678;
  font-weight: 500;
  font-size: 2rem;
}

.copyright {
  font-family: 'Rock Salt', cursive;
  word-spacing: normal;
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 1.2rem 0;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  height: 0px;
  width: 3%;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #d3e0ea;
  position: relative;
  padding-top: 1rem;
  margin-top: auto;
}

.middle-container {
  margin: 5rem 2rem;
}

.bottom-container {
  margin-top: 0.25rem;
  padding: 4rem 0 1rem;
  background-color: #1687a7;
  word-spacing: 4rem;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 23rem;
  top: 5rem;
}

.bottom-cloud {
  position: relative;
  right: 2rem;
  bottom: 25rem;
}

.profile {
  margin-top: 1.57rem;
  margin-bottom: 3.125rem;
}

.footer-link {
  color: #0a043c;
  font-family: 'Montserrat', serif;
  text-decoration: none;
}
.instagram{
width:75px;
}
.twitter{
width:75px;
}
.linkedin{
width:75px;
}
.facebook{
width:75px;
}
.skills-row-main {
  width: 50%;
  margin: 5.25rem auto 6.25rem auto;
  text-align: left;
  line-height: 2rem;
}

.skill-row-communication {
  margin-top: 10rem;
}

.skill-row-critical {
  margin-top: 10rem;
}

.skill-row-adaptability {
  margin-top: 10rem;
}

.skill-row-Leadership {
  margin-top: 10rem;
}

.skill-row-creative {
  margin-top: 10rem;
}

.skill-row-office {
  margin-top: 10rem;
}

.webdevelop {
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.communcation {
  width: 25%;
  float: right;
  margin-left: 2rem;
}

.critical {
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.adaptability {
  width: 25%;
  float: right;
  margin-right: 2rem;
}

.leadership {
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.creative {
  width: 25%;
  float: right;
  margin-right: 2rem;
}

.office {
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.discuss {
  font-size: 1.5rem;
}

.ContactButton {
  background: #1687A7;
  background-image: -webkit-linear-gradient(top, #1687A7, #276678);
  background-image: -moz-linear-gradient(top, #1687A7, #276678);
  background-image: -ms-linear-gradient(top, #1687A7, #276678);
  background-image: -o-linear-gradient(top, #1687A7, #276678);
  background-image: -webkit-gradient(to bottom, #1687A7, #276678);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.9rem;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.ContactButton:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  text-decoration: none;
}

.contact-me {
  margin-top: 50px;
  margin-bottom: 50px;
}

.forest {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 375px;
  margin-left: 50px;
}

.park {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 375px;
  margin-left: 50px;
}

.mountain {
  position: relative;
  top: 5px;
  right: 12rem;
}

.sun {
  position: relative;
  bottom: 42rem;
  right: 13rem;
}
